*{ margin: 0;padding: 0;}
a{text-decoration: none}
html{
    background-image: url(../images/login/bg_9b9dcb65ff.png);
}
#main{
    width:450px;
    height:550px;
    border-radius: 10px;
    margin: 110px auto 0;
    border:1px solid #D5D5D5;
    text-align: center;
    margin-bottom:50px;
}
#main #log{
    margin-top:20px;
    width: 450px;
    max-height:130px;
}


#main #log #top-text{
    margin-top:-20px;
}




#head{
    height: 60px;
    width:450px;
    text-align: center;
    line-height: 60px;
    font-size:20px;
    font-weight: 600;
    /*vertical-align:middle;*/
    margin: 0 auto;
    /*border:1px solid red;*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border:1px solid #D5D5D5;

}

#mid{
    width:370px;
    margin: 0 auto;
    margin-top:30px;

}
#mid #one{
    width:370px;
    height:50px;
    border:1px solid #D5D5D5;
    border-radius: 5px;
    margin-bottom:15px;
}

#mid #one #icon{
    float:left;
    width:50px;
    height:48px;
    background-color: #F9F9F9;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#mid #one #myinput{
    float: left;
    width:318px;
    height:50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#mid #one #myinput input{
     padding-left:20px;
     width:320px;
     height:48px;
     font-size: 20px;
     border-top-right-radius: 5px;
     border-bottom-right-radius: 5px;
     outline: none;
 }

#mid #two{
    width:370px;
    height:50px;
    border:1px solid #D5D5D5;
    border-radius: 5px;
    margin-bottom:15px;
}
#mid #one #myinput input{
    padding-left:20px;
    width:320px;
    height:48px;
    font-size: 20px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
}
#mid #two #icon{
    float:left;
    width:50px;
    height:48px;
    background-color: #F9F9F9;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#mid #two #yzm{
    float: left;
    width:318px;
    height:50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#mid #two #yzm #code_input{
    float: left;
    padding-left:20px;
    width:160px;
    height:48px;
    font-size: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
}
#mid #two #v_container{
    float: right;
    margin-left:10px;
}

/*#mid #one  #v_container{*/
    /*float: left;*/
    /*padding-left:20px;*/
    /*width: 180px;*/
    /*height:48px;*/
    /*font-size: 20px;*/
    /*border-top-right-radius: 5px;*/
    /*border-bottom-right-radius: 5px;*/
    /*outline: none;*/
/*}*/

#mid #text{
    width:370px;
    height:32px;
    /*border:1px solid #D5D5D5;*/
    text-align: left;
    font-size:12px;
    border-radius: 5px;
    margin-bottom:15px;
}

#one #register{
    width:370px;
    height:50px;
    border:1px solid #D5D5D5;
    border-radius: 5px;
    margin-bottom:15px;
    font-size: 20px;
    background-color:#B8C9EC;
    color:white;
}

#three {
    width:370px;
    height:20px;
    border-bottom:1px solid #DADADA;

}

#regBtn{
    width:370px;
    height:60px;
    line-height:60px;
    font-size:20px;
}
